<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>403 - Forbidden</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
</head>

<body>

  <div class="d-flex justify-content-center align-items-center" id="main" style="margin-top:20%">
      <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">403</h1>
      <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">The server understood the request but refuses to authorize it.</h2>
        <h3 class="font-weight-normal lead" id="desc"> <%= message %> </h3>
      </div>
  </div>
</body>

</html>